$color-primary-light: #566472;
$color-primary-main: #2c3a47;
$color-primary-dark: #031420;

$color-secondary-light: #58a5ba;
$color-secondary-main: #1f768a;
$color-secondary-dark: #004a5d;

$color-text: #fff;
$color-default: #000;
$color-paper: #2a3a49;
